<nav class="nav navClosed" id="nav">
	<button class="nav__button" id="navToggle" onclick="menuToggle()" aria-label="menu">
		<div class="nav__hamburger"></div>
		<div class="nav__hamburger"></div>
		<div class="nav__hamburger"></div>
	</button>

	<ul class="nav__list">
		<li class="nav__item">
			<a href="../" class="nav__link ">home</a>
		</li>

		<li class="nav__item">
			<a href="../portfolio" class="nav__link ">portfolio</a>

			<ul>
				{% for project in site.categories.projects %}
				<li>
					<a href="{{ post.url | relative_url }}">
						{{project.title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>

		<li class="nav__item">
			<a href="../files/LilianSung_resume.pdf" target="_blank" class="nav__link ">cv</a>
		</li>

		<li class="nav__item">
			<a href="./" class="nav__link ">blog</a>
			<ul>
				{% for blogpost in site.categories.blogposts %}
				<li>
					<a href="{{ post.url | relative_url }}">
						{{blogpost.title}}
					</a>
				</li>
				{% endfor %}
			</ul>
		</li>		
	</ul>
</nav>