*,
*::before,
*::after {
	box-sizing: border-box;
}

/* General styles */
html {
	scroll-behavior: smooth;
}

body {
	background-color: $clr-background;
	margin: 0;
	width: 100%;
}

main {
	margin: 0 1rem;

	@include large {
		max-width: $content-width;
		margin: 0 auto;
	}
}

img {
	display: block;
	max-width: 100%;
}

figure, figure img {
	margin: 0 auto;
}

figure {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

figure img {
	margin-bottom: 1rem;
}

/* typography */
body {
	font-size: 100%;
 }

h1, h2, h3, h4, h5, h6{
	color: $clr-text;
	font-family: $ff-secondary;
}

h1 { 
	font-size: $fs-h1;
	
	@include medium {
		font-size: $fs-h1-l;
	}
}

h2 { 
	font-size: $fs-h2;
	margin-bottom: 0;

	@include medium {
		font-size: $fs-h2-l;
	}
}

h3 { 
	font-size: $fs-h3; 

	@include medium {
		font-size: $fs-h3-l;
	}
}

p, li {
    color: $clr-text;
	font-family: $ff-primary;
    font-size: $fs-body;
    line-height: 1.6;

	@include medium {
		font-size: $fs-body-l;
	}
}

a {
    color: $clr-link;

	&:visited {
		color: $clr-link-visited;
	}
}

figcaption {
    font-family: $ff-secondary;
    font-size: $fs-caption;
    margin: 0 2rem;
    text-align: left;
}

/* other */

hr {
	height: 2px;
	width: 100%;
	color: $darker;
}

time {
	color: $grey;
	font-size:$fs-body;
	font-family: $ff-secondary;
}

/* archive */
.archive {
	p {
		display: inline-block;
	}
}
.archive-list {
	display: inline-block;
	padding-inline-start: 1em;

	li {
		list-style: none;
		display: inline-block;
	}

	li:not(:last-child)::after {
		content: "/";
		display: inline-block;
		width: 0.75em;
		margin-left: 0.75em;
	}
}

.archive-link {
	color: $dark;
}

.archive-link:visited {
	color: $dark;
}

.archive-link:hover{
	background-color: $accent;
}

.archive-current {
	text-decoration: none;
}