

@include phone {
    .monthly-photos{
        margin: 0;
    }

    .carousel {
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .carousel__wrapper {
        display: flex;
    }

    .carousel__photo {
        scroll-snap-align: start;
    }

    .monthly-photos__caption{
        margin-top: 1em;
    }    
}


@include medium {
    .monthly-photos{
        max-width: $content-width;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 3fr 2fr;
        gap: 1em;
    }
    
    .carousel__wrapper {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }

    .monthly-photos__caption{
        font-size: $fs-body;
        align-self: start;
        position: sticky;
        top: 0.75em;
    }
}