.post {
    border-radius: 1rem;

    time {
        color: $grey;
        font-size:$fs-body;
        font-family: $ff-secondary;
    }
}

.post__title {
    
    margin-block-end: 1rem;

    a {
        color: $dark;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}