---
layout: default
---

{% assign homeYear = site.categories.blog.first.date | date: "%Y" %}

{% include nav.html year=homeYear %}

<main>
    <div>
    {% for post in site.categories.blog %}
        {% capture year %}{{ post.date | date: "%Y" }}{% endcapture %}
        {% if year == homeYear %}
            <article class="post">
                <h1 class="post__title">
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title }}
                    </a>
                </h1>

                <time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>
                
                {{ post.content }}

            </article>

            {% assign nextDate = site.categories.blog[forloop.index].date | date: "%Y" %}
            {% unless nextDate != homeYear %}
            <hr>
            {% endunless %}
        {% endif %}
    {% endfor %}    
    </div>

</main>



